@charset "utf-8";
/* CSS Document */
body{
	background:#fff;
	}
#container{
	margin:0px auto;
	border:1px solid #fff;
	width:1600px;
	height:2300px;
	background:#FFF;
	}
.banner{
	border:1px solid #fff;
	width:1400px;
	height:80px;
	padding:20px 100px;
	}
#searh{
	border:1px solid #fff;
	width:620px;
	height:60px;
	}
.input{
	display:inline-block;
	float:right;
	background:#fff;
	font-size:20px;
	font-weight:bold;
	color:#FF6;
	width:400px;
	height:50px;
	}
.inputa{
    width: 280px;
    height: 50px;
    border-radius:5px;
    border: 1px solid #999999;
    box-shadow: 1px 1px 3px #cccccc;
    padding-left: 15px;
    margin-right: 15px;
}
.inputsearch{
	background:#fff;
	font-size:20px;
	font-weight:bold;
	color:#c66;
	width:50px;
	height:50px;
	border:none;
	}
#nav{
	border:1px solid #fff;
	display:inline-block;
	float:right;
	width:600px;
	height:50px;
	position: relative;
	top: -55px;
	left: 0px;
	}
.li{
	border:1px solid #fff;
	width:100px;
	height:50px;
	font-size:23px;
	display:inline-block;
	float:right;
	text-align:center;
	}
.li a{
	text-decoration:none;
	color:#c66;
	}
#content{
	border-right:1px solid #ccc; 
	height:1800px; 
	width:1080px; 
	display:inline-block; 
	float:left;
	}
#keyword{
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
	width:1000px;
	height:500px;
	display:inline-block;
	float:left;
	margin-left:50px;
	}
.ktitle{
	width:500px;
	height:30px;
	margin-left:65px;
	margin-top:30px;
	margin-bottom:20px;
	font-size:18px;
	}
.kpic{
	width:300px;
	height:400px;
	margin-left:50px;
	display:inline-block;
	float:left;
	}
.kmessage{	
	width:600px;
	height:400px;
	display:inline-block;
	float:right;
	}

.kmessagetitle{
	font-size:30px;
	color:#c66;
	}
.kmdiv{
	margin-top:10px;
	font-size:18px;
	}
#div{
	border:1px solid #fff;
	}
.kprice{
	height:50px;
	padding-top:10px;
	font-size:22px;
	margin-top:10px;
	}
.sub{
	font-size:23px;
	color:#fff;
	width:200px;
	height:50px;
	background:lightblue;
	margin-top:30px;
	margin-left:65px;
	text-align:center;
	font-weight:bold;
	border:none;
	-moz-box-shadow: inset 0 0 2px rgba(102, 153, 0,0.5);
    -webkit-box-shadow: inset 0 0 2px rgba(102, 153, 0,0.5);
    box-shadow: inset 0 0 2px rgba(102, 153, 0,0.5);
    cursor: pointer;

	}
.sub a{
	text-decoration:none;
	font-weight:bold;
	vertical-align:middle;
	color:#fff;
	}
#leaveword{
	border:1px solid #fff;
	height:1290px;
	width:1000px;
	display:block;
	float:left;
	margin-left:50px;
	margin-bottom:50px;
	
	}
ul{
	padding-left:280px;
	width:660px;
	height:80px;
	border-bottom:1px solid #ccc;
    list-style: none;
	margin-bottom:30px;
  }
ul li{
	margin-right:20px;
	margin-top:10px;
	width: 130px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: #c66;
	font-weight:bold;
	font-size:25px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
   
    margin-bottom: 10px;
	display:block;
	float:left;
    border: 2px solid #ccc;
    cursor: pointer;
  }
ul li:hover{
	font-size:33px;
	border-radius:0px;
	-webkit-transition:all 0.3s ease-in-out 0.1s;
	-moz-transition: all 0.3s ease-in-out 0.1s;
    -o-transition: all 0.3s ease-in-out 0.1s;
    transition: all 0.3s ease-in-out 0.1s;
	  }
.tab{
	display:none;}
.comsword{
	width:600px;
	height:200px;
	}
label input {
	display: none;	
	border-bottom:1px solid #fff;

}
label input:checked + img {
	background: rgb(151,187,211);
	border-bottom:1px solid rgb(151,187,211);
}
.b{
	margin-left:20px;}
table{
	width:1000px;
	height:80px;
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
	border-left:none;
	border-right:none;
	}
tr{
	border:none;
	}
td{
	border:1px solid #fff;
	padding:10px 100px 10px 10px ;
	height:20px;
	text-align:center;}
.like{ 
	font-size:30px;  
	color:#ccc; 
	cursor:pointer;
	}
.cs{
	color:#c66;
	-webkit-transition:all 0.3s ease-in-out 0.1s;
	-moz-transition: all 0.3s ease-in-out 0.1s;
    -o-transition: all 0.3s ease-in-out 0.1s;
    transition: all 0.3s ease-in-out 0.1s;

	}
#likes{
	border:1px solid #ccc;
	width:430px;
	height:1150px;
	display:inline-block;
	float:right;
	margin-right:50px;
	}
.likepic{
	position:relative; 
	display:inline-block; 
	float:left; 
	margin-bottom:20px;
	margin-left:10px;
}
.likeother{
	display:inline-block; 
	float:right; 
	width:230px; 
	height:220px; 
	text-align:left; 
	padding-top:30px; 
	margin-bottom:20px;
	}
/*第二部分*/
.pricebutton{
	width:60px;
	height:40px;
	background:#ffff;
	border:none;
	font-size:18px;
	font-weight:bold;
	}
.bottom{
	clear:both;
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
	height:180px;
	width:1400px;
	padding:20px 100px;
	margin-bottom:10px;
	}
.block{
	text-align:center;
	width:270px;
	height:180px;
	display:inline-block;
	float:left;
	}
ww{
	font-size:18px;
	font-weight:bold;
	color:#000;}
.last{
	width:1600px;
	height:120px;
	text-align:center;
	clear:both;

	}