@charset "utf-8";
/* CSS Document */
body{
	background:#fff;
	}
#container{
	background:#fff;
	margin:0 auto;
	width:1600px;
	height:1000px;
	border:1px solid #fff;
	}
#content{
	background:#fff;
	margin-top:100px;
	width:1600px;
	height:700px;
	border:1px solid #fff;
	}
/*#logincontent{
	border:1px solid #F00;
	width:1600px;
	height:310px;
	margin-top:100px;

	}*/
.loginpic{
	/*border:1px solid #000;*/
	height:350px;
	width:750px;
	margin-top:140px;
	margin-left:100px;
	display:block;
	float:left;
	background:url(../images/loginbg1.jpg) bottom right no-repeat;
	background-size:100% 100%;
	}
.login{
	border:1px solid #ccc;
	width:600px;
	height:590px;
	margin-right:100px;
	margin-top:40px;
	display:inline-block;
	float:right;
	}
.title{
	width:400px;
	height:50px;
	margin-top:40px;
	font-family:"Comic Sans MS", cursive;
	color:#c66;
	font-size:33px;
	text-align:center}
.user{
	font-size:23px;
	font-family:"Comic Sans MS", cursive;
	margin-top:15px;
	margin-left:60px;
	}
.input{
	width:260px;
	height:40px;
	background:rgba(143,176,188,0.1);
	}
#webpage1{
	width:150px;
	height:20px;
	/*border:1px solid #000;*/
	position:relative;
	top:-30Px;
	left:380px;
	font-size:16px;
	color:#F00;
	}
#webpage2{
	width:150px;
	height:20px;
	/*border:1px solid #000;*/
	position:relative;
	top:-30Px;
	left:380px;
	font-size:16px;
	color:#F00;
	}
#webpage3{
	width:150px;
	height:20px;
	/*border:1px solid #000;*/
	position:relative;
	top:-30Px;
	left:380px;
	font-size:16px;
	color:#F00;
	}
#webpage4{
	width:150px;
	height:20px;
	/*border:1px solid #000;*/
	position:relative;
	top:-30Px;
	left:380px;
	font-size:16px;
	color:#F00;
	}
#webpage5{
	width:150px;
	height:20px;
	/*border:1px solid #000;*/
	position:relative;
	top:-30Px;
	left:440px;
	font-size:18px;
	color:#F00;
	}
.sub{
	font-size:23px;
	font-family:"Comic Sans MS", cursive;
	width:400px;
	height:50px;
	background:rgb(151,187,211);
	margin-top:10px;
	margin-left:55px;
	text-align:center;
	border:none;
	border-radius:5px;
	font-weight:bold;
	}
.sub:hover{
	background:rgba(98,156,178,0.5);
	transform:scale(1.1,1.1);	
	color:#fff;
	}
.sub a{
	text-decoration:none;
	font-weight:bold;
	vertical-align:middle;
	color:#000;
	}
.sub a:hover{
	color:#fff;
	}
word{
	color:transparent;
	}
.last{
	width:1600px;
	height:120px;
	text-align:center;
	clear:both;
	position:relative;
	left:0px;
	top:180px;
	}